
/* montserrat-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/montserrat-v29-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/montserrat-v29-latin-600.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* montserrat-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/montserrat-v29-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

@import "tailwindcss";

*, *::after, *::before {

  box-sizing: border-box;
  
}

a {
  text-decoration: none;
  display: inline-block;

}

img {
  display: flex;
  object-fit: cover;
}

ul, ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}



body {
  font-family: 'Montserrat';
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  
}

.sfera-logo {
  font-style: italic;
}

.rounded-active {
  border-radius: 0 8px 8px 0;
  border-left: 6px solid green;
}
.rounded-noactive {
  border-radius: 0 8px 8px 0;
  border-left: 6px solid transparent;
}

.transition-sidebar {
  transition: 0.8s;
}

.rounded-sidebar {
  border-radius: 0 12px 12px 0;
}

.main-layout {
  background-image: url("./bgSfera.jpg");

}

.main-main {
  overflow-y: scroll;
}